@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
textarea,
button {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

span, p, a {
  color: #F8F9FC;
}

body {
  background-color: #0E1116;
}

button:hover {
  cursor: pointer;
}

.ant-modal-content, .ant-modal-body{
  background-color: #181C2A!important; 
}